.slick-track,
.slick-list {
    transition-delay: 30ms;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    min-width: 750px;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .inner {
    display: flex;
    height: 70px;
    align-items: center;
}

.header h1 img {
    height: 50px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    text-align: center;
    line-height: 100px;
}

/* main visual */
.main_vi {
    position: relative;
    background: #000;
}

.main_vi figure {
    position: relative;
    height: calc(100vh);
}

.main_vi .main_slide .vi01 {
    background: url(../images/visual01.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .vi02 {
    background: url(../images/visual02.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .vi03 {
    background: url(../images/visual03.jpeg) no-repeat center center/cover;
}

.main_vi figure .slogan {
    position: absolute;
    top: 55%;
    left: -50%;
    width: 100%;
    padding: 100% 0;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
}

.main_vi .slogan strong {
    font-size: 100px;
    font-weight: 900;
}

.main_vi .slogan p {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
}

/* slide btn */
.main_vi .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1850px;
    font-size: 70px;
    color: #f8f9fa;
    cursor: pointer;
}

.main_vi .arrows .left {
    position: absolute;
    top: 0;
    left: 0;
}

.main_vi .arrows .left i {
    opacity: 40%;
}

.main_vi .arrows .left:hover i {
    opacity: 100%;
}

.main_vi .arrows .right {
    position: absolute;
    top: 0;
    right: 0;
}

.main_vi .arrows .right i {
    opacity: 40%;
}

.main_vi .arrows .right:hover i {
    opacity: 100%;
}

.main_vi .scroll_box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    animation: b_scroll 2s infinite;
}

.main_vi .scroll_box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

@keyframes b_scroll {
    0% {
        opacity: 0;
        transform: translate(0, -30%);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -30%);
    }
}

/* model */
.mod {
    position: relative;
    padding: 100px 0;
}

.mod h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
}

.mod h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 135px;
    width: 150px;
    height: 3px;
    background: #ddd;
}

.mod .mod_box {
    position: relative;
}

.mod .mod_slide {
    margin: 0 -15px;
}

.mod .mod_slide figure {
    padding: 0 15px;
}

.mod .mod_slide figure p {
    text-align: center;
    font-weight: 500;
}

.mod .mod_slide .slick-dots {
    text-align: center;
    margin: 25px 0 0 0;
}

.mod .mod_slide .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.mod .mod_slide .slick-dots li button {
    font-size: 0;
    padding: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #666;
    border: none;
    outline: none;
    cursor: pointer;
}

.mod .mod_slide .slick-dots li.slick-active button {
    background: #fff;
    border: 2px solid #777;
}

.mod .arrows {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 150px;
    width: 100%;
}

.mod .arrows i {
    position: absolute;
    bottom: 0;
    color: #666;
    font-size: 20px;
    cursor: pointer;
}

.mod .arrows .left {
    left: 0;
}

.mod .arrows .right {
    right: 0;
}

/* background banner */
.bg_banner {
    height: 500px;
    background: url(../images/banner01.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.bg_banner .bg_box {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.bg_banner .bg_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.bg_banner .bg_txt strong {
    display: block;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.bg_banner .bg_txt p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
}

.b_info {
    padding: 100px 0;
}

/* itm_box */
.itm_box {
    position: relative;
    padding: 100px 0 200px 0;
}

.itm_box h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.itm_box h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 135px;
    width: 300px;
    height: 3px;
    background: #ddd;
}

.itm_box .inner>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px 30px;
}

.itm_box .img_box {
    overflow: hidden;
}

.itm_box .img_box:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}

.itm_box .txt_box {
    padding: 12px 0 0 0;
}

.itm_box .txt_box strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.itm_box .txt_box p {
    line-height: 1.2;
}

.itm_box .itm_btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 150px;
    height: 40px;
    transform: translate(-50%, 0);
    font-weight: 700;
    outline: none;
    border: 2px solid #ddd;
    color: #333;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.itm_box .itm_btn:hover {
    background: #333;
    color: #fff;
    border: none;
}

/* 전시회장 정보 */
.b_info {
    position: relative;
    padding: 0 0 100px 0;
}

.b_info h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.b_info h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    width: 260px;
    height: 3px;
    background: #ddd;
}

.b_info .info_box {
    display: flex;
    gap: 30px;
}

.b_info .info_box>* {
    flex: 1;
}

.b_info .right_info {
    display: flex;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}

.b_info .right_info .r_box {
    padding: 40px 0 40px 0;
    border: 2px solid #ddd;
}

.b_info .right_info strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.b_info .right_info p {
    line-height: 1.2;
    padding: 10px 0 15px 0;
    color: #888;
}

/* footer topbtn */
.footer {
    padding: 30px 0 50px 0;
    background: #333;
    color: #f2f1fb;
}

.footer .f_list {
    display: flex;
    gap: 30px;
    margin: 0 0 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #555;
}

.footer .f_list li {
    position: relative;
}

.footer .f_list li a {
    font-size: 14px;
}

.footer .f_list .st {
    font-weight: 500;
}

.footer .f_list li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background: #555;
}

.footer address {
    font-size: 10px;
    font-weight: 500;
}

.to_top {
    position: fixed;
    right: 20px;
    bottom: 190px;
    z-index: 999;
    cursor: pointer;
}

.to_top i {
    padding: 10px;
    font-size: 20px;
    color: #f9f9f9;
    background: #333;
}